* {
  box-sizing: border-box;
}

.noliststyle{
  width: 100%;
  margin: 0 auto;
  padding: 55px 200px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.noliststyle ul{
  display: flex;
  flex: 1;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
  font-size: 25px;
}

a:visited{
  text-decoration: none;
  flex-flow: row;
  font-size: 23px;
  color: black;
  /* margin-right: 20px; */
}
.active{
  color: white !important;
  border-bottom: 5px solid white;
  padding-bottom: 3px;


  
}

.logo{
  flex: 1;
}

.fb_logo {
  display: inline-block;
  height: 28px
}
